body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

#card {
  border: 2px solid black;
  height: 260px;
  width: 600px;
  display: flex;
}

#face {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#face-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
  margin: 16px 0;
}

#face-img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 3px solid rgb(16, 203, 16);
  /* margin-top: 12px; */
}

#contact-div {
  /* background-color: green; */
  /* margin: 24px 0 0 0; */
  text-align:center;
  padding-top: 24px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#contact-div > i {
  /* border: 2px solid pink; */
  height: 80%;
  width: 50%;
  padding-top: 30px;
  padding-bottom: 0; 
  /* margin: 20px 0 0 0; */
  text-align: center;
}

#contact-div > :nth-child(1) {
  background-color: limegreen;
}

#contact-div > :nth-child(2) {
  background-color: green;
}


#bio-container {
  padding: 16px;
  background-color: rgb(244, 244, 244);
}

h2 {
  margin: 16px 0;
  font-size: 32px;
  letter-spacing: 1.1px;
}

#rating {
  margin: 0;
}

h4 {
  margin-top: 8px;
  font-size: 18px;
  letter-spacing: 1.2px;
}

.fa-solid {
  color: gold;
  text-shadow: 0 0 1px black;
}

.fa-phone-flip {
  color: white;
}

.fa-envelope {
  color: white;
}

#bio {
  /* height: 60px; */
  letter-spacing: 1.5px;
  font-size: 16px;
  margin-left: 2px;
  padding-left: 10px;
  line-height: 1.75;
  border-left: 4px solid rgb(16, 203, 16);
}
